* {
  margin: 0;
  padding: 0;
}
body {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  width: 100%;
}
.first {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: 3px solid white;
  width: 100%;
  margin:0px
}
.image1 {
  margin-top: 50px;
}
.image2 {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-top: 80px;
}
.image2 :hover {
  width: 50%;
}
.image3 {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.second {
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: azure;
  height: 50px;
  font-size: 20px;
  font-family: cursive;
  font-weight: 200;
}
.NAV {
  border-radius: 50px;
  background-color: darkgoldenrod;
  padding: 0px;
  margin-top: 10px;
}
ul {
  margin-top: 100px;
  margin-bottom: 20px;
  list-style-type: none;
}

li {
  float: left;
  margin: 15px;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: white;
}
